<h1 id="colorClass">Products</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!products"><em>Loading...</em></p>

<table class='table' *ngIf="products">
  <thead>
    <tr>
      <th id="colorClass">Id</th>
      <th id="colorClass">Name</th>
      <th id="colorClass">Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products" (click)="click(product)">
      <td id="colorClass">{{ product.id }}</td>
      <td id="colorClass">{{ product.name }}</td>
      <td id="colorClass">{{ product.price }}</td>
    </tr>
  </tbody>
</table>
