<h1 *ngIf="product" class="hText">{{product.name}}</h1>

<h1 *ngIf="!product"><em>Loading...</em></h1>

<table  class='table' *ngIf="product">
  <thead>
    <tr>
      <th class="pText">Id</th>
      <th class="pText">Name</th>
      <th class="pText">Price</th>
      <th class="pText">Quantity</th>
    </tr>
  </thead>
  <tbody class="breakColor">
    <tr>
      <td class="pText">{{ product.id }}</td>
      <td class="pText">{{ product.name }}</td>
      <td class="pText">{{ product.price }}</td>
      <td class="pText">{{ product.quantity }}</td>
    </tr>
  </tbody>
</table>

<h2 class="hText">Description</h2>
<p class="pText paragraph">{{product.description}}</p>